*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body {
    color: #ededed;
}

/* cabeçalho */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #000000; /* -obs-  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* -obs-  */
}

.logo {
    position: relative;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}
.simbol {
    color: #da70d6;
    font-size: 20px;
}

.dev {
    color: #da70d6;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
}

.navbar a:hover{
    color: #da70d6
}

/* cabeçalho fim */

/* main */

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-image: url(imagens/circleDarckPurpleBG.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-conteudo {
    max-width: 600px;
}

.home-conteudo h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-conteudo h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-conteudo p {
    font-size: 20px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #000000;
    border: #da70d6 solid 2px;
    border-radius: 50%;
    font-size: 25px;
    color: #da70d6;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    border: #fff;
    background: #fff;
    color: #da70d6;
    box-shadow: 0 0 5px #fff;
}

.btn-box {
        display: inline-block;
        background: #da70d6;
        padding: 12px 28px;
        border-radius: 40px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 600;
}

.btn-box:hover {
        background: #fff;
        color: #da70d6;
       box-shadow:0 0 5px #fff, 0 0 25px #fff,0 0 50px #fff, 0 0 100px #fff,
    0 0 200px #fff;
}


.img-home {
    align-items: center;
    box-shadow:0 0 5px #da70d6, 0 0 25px #da70d6,0 0 50px #da70d6, 0 0 100px #da70d6,
    0 0 200px #da70d6;
    border-radius: 50%;
}

.maquinaDeEscrever {
    color: #da70d6;
}
